h1{
text-align: center;
font-family:cursive;
font-size:xx-large;
margin-top: 250px;
color: #faf4f4;
}
body{
background-image:url(https://wallpapercave.com/wp/wp7221148.jpg);
background-size:100%; 
background-position: center;
background-repeat: no-repeat;
background-color: black;
}
